  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3><a href="https://www.colmex.mx/" target="_blank"><img src="/images/colmex-footer.png" alt="El Colegio de México" class="img-responsive"></a></h3>
          <br>
          <h4><%= t('.copyright', year: Date.current.year) %></h4>
          <div style="display: none"> &copy; <a href="https://www.cantothemes.com">CantoThemes</a> 2015. Designed by <a href="https://www.cantothemes.com">CantoThemes</a> </div>
        </div>
      </div>
    </div>
  </footer>
