<%= render 'principal/header' %>
  <section class="faq-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <h2 class="tac">frequently asked questions</h2> -->
          <div class="section-title st-center">
            <h3>&nbsp;</h3>
            <p>Admission</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="faq">
            <h3>Participant Profile</h3>
            <p>The International Summer Program is open to applications from international professionals as well as graduate and undergraduate students of Social Sciences and Humanities whose work is related to Mexican and Latin American studies.</p>
            <p>Prospective students will be chosen after a rigorous selection process taking into consideration academic achievement, social responsibility, professional experience, motivations for applying, and the importance of their participation in the
              Program for their future academic and professional careers.</p>
          </div>
          <div class="faq">
            <h3>Admission Requirements</h3>
            <p>In order to be considered for admission to the Program, prospective students must complete the <a href="images/summer-program-application-form.pdf" download><strong style="text-decoration: underline">application form</strong></a> and send
              the following documents <strong>in English and PDF format</strong>:</p>
            <ol>
              <li>Certificate or diploma of the last degree obtained, showing final grades.</li>
              <li>Brief résumé (up to 2 pages).</li>
              <li>Cover letter describing their motivations and the relevance of their participation in the Program for their future academic and professional career (up to 2 pages).</li>
              <li>One recommendation letter for enrolment on the Program.</li>
            </ol>
          </div>
          <div class="faq">
            <h3>Application Process</h3>
            <p>Students must send their application forms and PDF documents in English by email at the following address:</p>
            <p style="text-align: center"><strong><a href="mailto:summerprogram@colmex.mx">summerprogram@colmex.mx</a></strong></p>
            <p>Incomplete applications will not be considered.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="faq">
            <h3>Successful candidates</h3>
            <p>Successful candidates will be notified by email and must confirm their participation in the Program within five days of receiving their acceptance email</p>
          </div>
          <div class="faq">
            <h3>Visas</h3>
            <p>Foreigners enrolled in study programs in Mexico for less than six months can enter the country with a tourist visa and do not need to apply for a student visa.</p>
            <p>Europeans and US citizens need only fill out a form at the airport to apply for a tourist visa.</p>
            <p>We strongly recommend that all our students approach their nearest Mexican consulate for more information about visas</p>
          </div>
          <div class="faq">
            <h3>Program Fees</h3>
            <p>Students applying to enroll on the Program through a student exchange agreement between their University and El Colegio de México will be able to apply for a scholarship to pay the program fees (we only have the capacity to grant one 100%
              scholarship and two 50% scholarships to each university).</p>
            <p>Students enrolling without any such agreement must pay a fee of:</p>
            <p class="precio">US$1,000 dollars (one thousand U.S. Dollars).</p>
            <p>However, when paying before May 3, students will be granted a US$200 (two hundred U.S Dollars) reduction on the program fee<span style="color: #b5425d;">*</span>.</p>
            <p>In every case, all our students must cover <strong>all expenses associated with meals, accommodation and travel<span style="color: #b5425d;">**</span></strong>.</p>
          </div>
        </div>
      </div>
      <p style="color: #b5425d;">* This type of students, applying without a scholarship’s agreement, will be granted a $200 USD (two hundred U.S dollars) reduction on the program fee when paying before May 3.</p>
      <p style="color: #b5425d;">** The Program will provide a list of external accommodation options that students may choose to contact at their own responsibility.</p>
    </div>
  </section>
<%= render 'principal/footer' %>
