<%= render 'principal/header' %>
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title st-center">
            <h3>For more information</h3>
            <p>contact us:</p>
            <br>
            <address>
          <strong>Ximena Barri Rosendo</strong><br>
          <em>International Summer Program Coordinator</em><br>
          Camino al Ajusco 20, C.P. 10740,<br>
          Colonia Pedregal de Santa Teresa<br>
          Ciudad de México, México<br>
          Teléfono: +52 55 54493000 Ext: 3248<br>
          Correo electrónico: <a href="mailto:summerprogram@colmex.mx">summerprogram@colmex.mx</a>
          </address>
          </div>
        </div>
      </div>
    </div>
  </section>
<%= render 'principal/footer' %>
