<%= render 'principal/header' %>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title st-center">
            <h3>El Colegio de México:</h3>
            <p>An Overview</p>
          </div>
          <div class="row mb90">
            <div class="col-md-6">
              <p>Founded in 1940, El Colegio de México is widely recognized as a leading public academic institution in the Hispanic world, specializing in research and higher education in the Social Sciences and Humanities.</p>
              <p>The research and teaching programs at El Colegio focus on the different disciplines of its Centers: History, Linguistics and Literature, International Studies, Asian and African Studies, Economics, Demographic, Urban and Environmental Studies
                and Sociology, offering a total of 18 undergraduate and graduate programs, as well as specialization courses and summer programs.</p>
            </div>
            <div class="col-md-6">
              <p>El Colegio de México has a large publicly accessible library specializing in the Social Sciences and the Humanities; its collection includes approximately 700,000 volumes and extensive electronic and digital resources. The institution also
                operates an academic publishing house and a digital education program. </p>
              <p>Over the years, several thousand graduates from El Colegio de México have made notable contributions as researchers, professors and through their public service in Mexico and around the world.</p>
              <a href="https://www.colmex.mx/" target="_blank" class="more-link">More info <span class="meta-nav">&rarr;</span></a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%= render 'principal/footer' %>
