<%= render 'principal/header' %>
  <section class="blog" id="descripcion">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="section-title st-center">
            <h3>About the</h3>
            <p>International Summer Program</p>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#">Description</a></h2>
            <div class="post-content">
              <p>The International Summer Program was created to enhance exchange agreements between El Colegio de México and various worldwide universities, and to help raise the profile of Latin American and Mexican Studies around the world.</p>
              <a href="#" id="materias"></a>
              <p>The Program is taught in English and its curriculum focuses on the study of Mexican and Latin American realities as approached by the faculty at El Colegio de México. Additionally, students on the program will attend Spanish language classes
                and cultural tours around the Mexico City area.</p>
            </div>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#">Courses and Professors</a></h2>
            <div class="post-content">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Linguistics</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/Fundamentals_of_theoretical_and_applied_terminology.pdf" target="_blank">Fundamentals of theoretical and applied terminology</a></td>
                    <td><a href="https://cell.colmex.mx/index.php/maria-pozzi" target="_blank">María Pozzi</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Introduction-to-the-Dictionary-of-Mexican-Spanish.pdf" target="_blank">Introduction to the <em>Dictionary of Mexican Spanish</em></a></td>
                    <td><a href="http://cell.colmex.mx/index.php/alfonso-medina" target="_blank">Alfonso Medina Urrea</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Thousand_One_Faces_Politics_Language_Mexico.pdf" target="_blank">The Thousand and One Faces of the Politics of Language in Mexico</a></td>
                    <td><a href="https://cell.colmex.mx/index.php/rebeca-barriga" target="_blank">Rebeca Barriga</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Environment & Urbanization</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/The_21st_century_metropolis.pdf" target="_blank">The 21<sup>st</sup> Century Metropolis, Urbanization and Economic Development: Mexico and International Experiences</a></td>
                    <td><a href="http://cedua.colmex.mx/trejo_alejandra.html" target="_blank">Alejandra Trejo Nieto</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Environmental_policy_in_Mexico.pdf" target="_blank">Environmental Policy in Mexico</a></td>
                    <td><a href="https://cedua.colmex.mx/ugalde_vicente.html" target="_blank">Vicente Ugalde</a> and <a href="https://cedua.colmex.mx/lopez_carlos.html" target="_blank">Carlos Andrés López Morales</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>History</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/An_Overview_History_Mexico.pdf" target="_blank">An Overview of Mexican History 1517-2017</a></td>
                    <td><a href="http://ceh.colmex.mx/index.php/planta-docente" target="_blank">Anne Staples</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Economic_History_of_Mexico_1800-2000.pdf" target="_blank">Economic History of Mexico,1800-2000</a></td>
                    <td><a href="http://sandrakuntz.colmex.mx/" target="_blank">Sandra Kuntz Ficker</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Public_intellectuals_20th_Century.pdf" target="_blank">Public Intellectuals in the 20<sup>th</sup> Century: Politics, Literature and Ideology</a></td>
                    <td><a href="https://cei.colmex.mx/Pprofesores/R_Brena.html" target="_blank">Roberto Breña</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Drugs_and_Empires_in_Mexico.pdf" target="_blank">Drugs and Empires in Mexico: A Historical Perspective</a></td>
                    <td><a href="http://cide.academia.edu/FroylanEnciso" target="_blank">Froylán Enciso</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Politics</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/Latin_America_21st_century.pdf" target="_blank">Latin America in the 21<sup>st</sup> Century: From the Left Turn to the Return of the Right</a></td>
                    <td><a href="http://cei.colmex.mx/Pprofesores/JC_Olmeda.html" target="_blank">Juan Cruz Olmeda</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Understanding_China_LatinAmerica_Relationship.pdf" target="_blank">Understanding the China-Latin America Relationship</a></td>
                    <td><a href="https://ceaa.colmex.mx/12-planta-docente-y-de-investigacion/41-marisela-connelly" target="_blank">Marisela Connelly</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Economy and Society</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/Social_Choice_Political_Economy.pdf" target="_blank">Social Choice and Political Economy with a Latin American Perspective</a></td>
                    <td><a href="https://cee.colmex.mx/david-cantala" target="_blank">David Cantalá</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Development_Inequality_Poverty.pdf" target="_blank">Development (D), Inequality (I) and Poverty (P). Towards a transdisciplinary unification of D, I and P concepts and measuring methods</a></td>
                    <td><a href="https://ces.colmex.mx/123" target="_blank">Julio Boltvinik</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#">Latin American Culture and Spanish Language</a></h2>
            <div class="post-content">
              <p>In addition to the academic courses, students will be offered Spanish language classes. The following levels are offered, based on the individual needs of students.</p>
              <h3>Elementary(A1)</h3>
              <p>For those without any previous instruction in Spanish, this level will equip students with the basic skills to understand and use familiar everyday expressions from the Hispanic world and to engage in basic interactions with Spanish speakers.</p>
              <h3>Basic (A2)</h3>
              <p>For students with some background knowledge of Spanish, this level will equip students with the skills to understand everyday phrases and expressions related to their immediate environment, to talk about simple tasks, and exchange relevant
                information about their basic needs.</p>
              <h3>Intermediate (B1)<a href="#" id="certificados"></a></h3>
              <p>For those who have taken at least 150 hours of lessons in Spanish as a foreign language, this level will equip students with the skills to understand most everyday situations and to express themselves in a simple way about familiar topics
                whenever needed, as well as to talk about their areas of interest and experiences.</p>
            </div>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#">Certificates</a></h2>
            <div class="post-content">
              <p>Those enrolled on the International Summer Program will receive a certificate of attendance and a grade report confirming only passing scores (8 or above in a 10 point scale).</p>
              <p>The attendance certificate will show the total hours/lessons and its equivalence in academic credits. </p>
              <p>We will provide advice regarding credit transfer as required, but we strongly recommend that all our students contact the academic office of their home institution for more details about their respective universities credit transfer requirements.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widgets" style="position: fixed">
            <div class="widget">
              <h2 class="widget-title">Contents</h2>
              <ul>
                <li><a href="#descripcion">Description</a></li>
                <li><a href="#materias">Courses and Professors</a></li>
                <li><a href="#cultura">Latin American Culture and Spanish Language</a></li>
                <li><a href="#certificados">Certificates</a></li>
                <!--li><a href="images/schedule-international-summer-program.pdf" target="_blank">Schedule of courses</a></li-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%= render 'principal/footer' %>
