<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Programa Internacional de Verano</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
		<link rel="icon" type="image/png" href="images/favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/owl.carousel.css" rel="stylesheet">
		<link href="/css/owl.theme.css" rel="stylesheet">
		<link href="/css/owl.transitions.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<script>
		  (function(i, s, o, g, r, a, m) {
		    i['GoogleAnalyticsObject'] = r;
		    i[r] = i[r] || function() {
		      (i[r].q = i[r].q || []).push(arguments)
		    }, i[r].l = 1 * new Date();
		    a = s.createElement(o),
		      m = s.getElementsByTagName(o)[0];
		    a.async = 1;
		    a.src = g;
		    m.parentNode.insertBefore(a, m)
		  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		  ga('create', 'UA-93858648-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
			<![endif]-->
	</head>

	<body data-spy="scroll" data-target=".main-nav">

    <%= yield %>

	
		<!-- Include all compiled plugins (below), or include individual files as needed -->
<% if !request.fullpath.include?("panel/") %>
 	 	<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.easing.min.js"></script>
		<script src="/js/jquery.stellar.js"></script>
		<script src="/js/jquery.appear.js"></script>
		<script src="/js/jquery.nicescroll.min.js"></script>
		<script src="/js/jquery.countTo.js"></script>
		<script src="/js/jquery.shuffle.modernizr.js"></script>
		<script src="/js/jquery.shuffle.js"></script>
		<script src="/js/owl.carousel.js"></script>
		<script src="/js/jquery.ajaxchimp.min.js"></script>
		<script src="/js/script.js"></script>
<% end %>
	</body>

</html>
